body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #e3f2fd;
}

header {
    background-color: white;
    color: black;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

nav {
    margin: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

nav button {
    padding: 10px 15px;
    background-color: #64b5f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}

nav button:hover {
    background-color: #42a5f5;
}

#grafico {
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.grafico-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
}

#filtros {
    margin: 20px auto;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.mensaje-no-datos {
    font-size: 18px;
    font-weight: bold;
    color: red;
    margin: 20px;
}
